@import 'mixins';

button.btn {
    position: relative;
    background-color: transparent;
    height: 4rem;
    padding: 0 3.2rem;
    font-family: var(--ui-font);
    font-size: 1.6rem;
    color: var(--color-on-surface);
    cursor: pointer;

    > * {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        @include border-image-common('border/panel-border-009', 0);
    }

    &:active {
        transform: translateY(0.1rem);
        filter: brightness(0.8);
    }
}

button.btn.btn--primary {
    color: var(--color-on-surface-inverted);
    &::before {
        @include border-image-common('panel/panel-009', 0);
    }
}

button.btn.btn--nav {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: var(--color-on-surface);
    padding: unset;
    width: 12rem;
    &::before {
        @include border-image-common('border/panel-border-000', 0);
        opacity: 0;
        transition: opacity 0.3s;
    }

    &.active::before {
        opacity: 1;
    }
}

button.btn.btn--diamond {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        box-shadow: var(--shadow);
        transform: rotate(45deg);
        @include border-image-common('panel/panel-001', 0);
    }
}

button.btn-icon {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--color-on-secondary);
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 0;
    cursor: pointer;

    &.close {
        position: absolute;
        right: 1.2rem;
        top: 1.2rem;
    }
}
