@import 'mixins';

button.btn {
    position: relative;
    background-color: transparent;
    height: 4rem;
    padding: 0 3.2rem;
    font-family: var(--body-font);
    font-size: 1.6rem;
    color: var(--on-surface);
    cursor: pointer;

    > * {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        @include border-image-common('border/panel-border-009', 0);
    }

    &:active {
        transform: translateY(0.1rem);
        filter: brightness(0.8);
    }
}

button.btn.btn--primary {
    color: var(--on-surface-inverted);
    &::before {
        @include border-image-common('panel/panel-009', 0);
    }
}

button.btn-icon {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--on-secondary);
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 0;
    cursor: pointer;

    &.close {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
    }
}
