@mixin border-image-common($image-url, $brightness) {
    border-image-source: url('assets/ui/' + $image-url + '.png');
    border-image-slice: 32 fill;
    border-image-width: 1.2rem;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(calc(1 + ((var(--theme-brightness) * $brightness))));
}
