.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 0.8rem;
}

.center {
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
